<ActionBar title="TimerApp"></ActionBar>

<GridLayout columns="*,*" rows="auto, auto, auto, auto, auto, auto, *">
    <Button col="0" row="0" text="1" margin="2"></Button>
    <Button col="1" row="0" text="2" margin="2"></Button>
    <Button col="0" row="1" text="5" margin="2"></Button>
    <Button col="1" row="1" text="10" margin="2"></Button>
    <Button col="0" row="2" text="20" margin="2"></Button>
    <Button col="1" row="2" text="30" margin="2"></Button>
    <Button col="0" row="3" text="45" margin="2"></Button>
    <TextField col="1" row="3" text="60" margin="2"></TextField>
    
    <TextField colSpan="2" row="4" hint="Um was geht's?'" text=""  margin="12,4,2,2"></TextField>

    <Button col="0" row="5" text="Erinnerung" margin="2"></Button>
    <Button col="1" row="5" text="Wecker" (tap)="onTap()" margin="2"></Button>

</GridLayout>